/* CSS переменные */
:root {
    /*Цвета*/
    --light-black: #141414;
    --gray: #a2a2a2;
    --white: #ffffff;
    --red: #C43030;
    --dark-red: #800606;
    --orange: #EA5B0C;
    --pale-black: #2d2d2d;
    /* --light-black: #1f1f1f; */
    /* --light-red: #E84545; */
    /* --black: #000000; */

    /*Руководство по стилям*/
    --title-color: var(--light-black);
    --title-color-white: var(--white);
    --descr-color: var(--light-black);
    --descr-color-white: var(--white);
}

html {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    overflow-x: hidden;
    background: #F9F9F9;
}

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 50px;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 10;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: var(--light-black);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: var(--light-black);
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a:hover {
    color: #fff;
}

#sidebar .nav li {
    border-bottom: 1px solid #455A64;
    color: var(--white);
    width: 100%;
    height: 100%;
}

#sidebar .nav li a {
    padding: 16px 24px;
    display: block;
}

#sidebar .nav li:focus,
#sidebar .nav li:hover,
#sidebar .nav li:active {
    background-color: var(--white);
    color: var(--light-black);
}


#sidebar .nav a i {
    margin-right: 16px;
}

#sidebar header a>img {
    width: 186px;
    margin: 10px 0;
}

/* Ресторан */
#info-rest-form input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--light-black);
    padding: 10px 0;
    color: var(--light-black);
    width: 80%;
    font-family: inherit;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 15px;
    padding: 10px;
    font-family: inherit;
}

#info-rest-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background: #F9F9F9;
}

#info-rest-form>textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 15px;
    padding: 10px;
    font-family: inherit;
}

.time-work {
    display: flex;
    align-items: center;
}

#info-rest-form .time-work>input {
    width: 150px;
}

#info-rest-form .time-work>div {
    margin: 0 15px;
}

#rest-category-btn {
    background-color: var(--light-black) !important;
    color: var(--white) !important;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    line-height: 27px;
}

#rest-category-btn:hover {
    background-color: var(--pale-black) !important;
}

.upload-file {
    display: flex;
}

.upload-file>input {
    padding: 5px !important;
}

.upload-file>input[type="submit"] {
    width: 100px !important;
    background-color: var(--light-black) !important;
    color: var(--white) !important;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    padding: 2px 10px !important;
}

.upload-file>input[type="submit"]:hover {
    background-color: var(--pale-black) !important;
}

.upload-file>input[type="file"] {
    margin-right: 10px !important;
}

.container-fluid {
    padding-top: 80px;
}

.info-rest-block {
    display: flex;
}

.info-rest-category-wrap {
    border: 1px solid var(--gray);
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 400px;
    overflow: scroll;
}

.category-create-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.info-rest-cat-create {
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.category-create-item>i {
    color: var(--gray);
}

.category-create-item>i:hover {
    color: var(--light-black);
}

.info-rest-btns button {
    background: var(--red);
    width: 130px;
    height: 34px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
}

.info-rest-btns button:hover {
    background-color: var(--dark-red);
}


.info-rest-block {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}


.info-rest-btns {
    display: flex;
    justify-content: space-between;
}

.info-rest-block h2 {
    color: var(--light-black);
    margin-bottom: 30px;
}

.info-rest-product-wrap {
    font-size: 20px;
}

#info-rest-save {
    background-color: var(--light-black);
}

.info-rest-wrap-form {
    font-size: 20px;
}

#overlay-cat fieldset {
    margin: 0;
}

#overlay-cat .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#overlay-cat .btn-cancel {
    border: none;
    margin-right: 10px;
    padding: 5px 7px;
}

#overlay-cat .btn-delete {
    background-color: var(--light-black) !important;
    border: none;
    padding: 5px 7px;
}

#overlay-cat .btn-delete:hover {
    background-color: var(--pale-black) !important;
}

#overlay-cat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in 0s;
}

#overlay-cat .popup {
    height: 160px;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 10px 20px !important;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 14px rgb(0 0 0 / 40%);
    margin-top: 150px;
}

#overlay-cat .close-cat {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: relative;
    background: none;
    border: none;
}

#overlay-cat .popup p.zag {
    margin: 40px 0 10px;
    padding: 0 0 6px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
}

#overlay-cat .popup .close-cat {
    position: absolute;
    font-weight: bold;
}

#overlay-cat .popup .close-cat:hover {
    color: var(--red);
}

#uploadImagesList .img-wrap>img {
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.delete-link {
    cursor: pointer;
}

.info-rest-cat-new-cat {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#create-new-cat {
    background: var(--red);
    width: 130px;
    height: 34px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#create-new-cat:hover {
    background-color: var(--dark-red);
}

.info-rest-cat-new-cat input {
    background-color: transparent;
    border-bottom: 1px solid var(--light-black);
    padding: 10px 0;
    color: var(--light-black);
    font-family: inherit;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 7px 10px;
    font-family: inherit;
    margin-right: 20px;
}

.info-rest-category {
    display: none;
    margin-left: 50px;
    max-width: 700px;
    font-size: 20px;
}

.info-rest-category h2 {
    color: var(--light-black);
    margin-bottom: 30px;
}

/* Товары */
#uploadImagesProd .img-wrap>img {
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#createProduct {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #F9F9F9;
}

#createProduct input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--light-black);
    padding: 10px 0;
    color: var(--light-black);
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 15px;
    padding: 10px;
    font-family: inherit;
}

#createProduct>textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 15px;
    padding: 10px;
    font-family: inherit;
}

#selectCatProd {
    background-color: transparent;
    border-bottom: 1px solid var(--light-black);
    padding: 10px;
    color: var(--light-black);
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 15px;
    -webkit-appearance: none;
    font-family: inherit;
}

.create-prod-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#save-prod-submit {
    width: 130px;
    height: 34px;
    border: none;
}

.save-ready-prod-btn {
    display: flex;
    justify-content: flex-end;
}

#cancel-prod-submit {
    background-color: var(--light-black);
    width: 130px;
    height: 34px;
    border: none;
}

#cancel-prod-submit:hover {
    background-color: var(--pale-black);
}

#saveProdReady {
    width: 130px;
    height: 34px;
    border: none;
    margin-right: 15px;
}

#cancelProdReady {
    background-color: var(--light-black);
    width: 130px;
    height: 34px;
    border: none;
}

#cancelProdReady:hover {
    background-color: var(--pale-black);
}

.products-sale-block {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 1000px;
    padding: 15px;
    overflow: scroll;
}

.products-sale-wrap h4 {
    width: 90%;
    color: var(--light-black);
    font-weight: bold;
    margin: 60px 0 30px;
}

.products-sale-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgb(199 199 199);
    margin-bottom: 50px;
    padding: 15px 15px;
    font-size: 20px;
}

.products-sale-info {
    display: flex;
    flex-direction: column;
}

.prod-edit {
    text-align: right;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
}

#productsSaleItem {
    display: flex;
    flex-direction: column;
}

.prod-sale-top {
    display: flex;
    padding: 10px 0px;
    align-items: flex-start;
    justify-content: space-between;
}

.info-rest-product {
    margin-bottom: 60px;
    margin-left: 50px;
    display: none;
}

.info-rest-product h2 {
    color: var(--light-black);
    margin-bottom: 30px;
}

.prod-sale-top>fieldset>input,
textarea {
    border: none;
    background-color: #F9F9F9;
    font-family: inherit;
}

.ready-price input {
    max-width: 60px;
}

.ready-weight input {
    width: 50px;
}

.prod-sale-info {
    display: flex;
    flex-direction: column;
}

.prod-sale-info>input {
    margin: 20px 0;
    font-weight: bold;
}

.prod-sale-info textarea {
    margin-top: 20px;
    font-family: inherit;
}

.prod-sale-info textarea:focus {
    border: 1px solid #ccc;
}

.prod-sale-info>select {
    background-color: #F9F9F9;
    border: none;
    -webkit-appearance: none;
    font-family: inherit;
}

.delete-prod-card>i:hover {
    color: var(--light-black);
    cursor: pointer;
}

.info-rest-orders-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-rest-orders-item {
    margin-bottom: 30px;
    width: calc(100% / 3 - (20px * 2 / 3));
    margin: 0 20px 20px 0;
    box-shadow: 0 0 10px 5px rgb(221 221 221);
    padding: 10px;
}

.info-rest-orders-item:nth-child(3n) {
    margin-right: 0;
}

.info-rest-orders-item div {
    margin-bottom: 10px;
    font-weight: bold;
}

.info-rest-orders-item h4 {
    margin-bottom: 10px;
}

.info-rest-orders-item div span {
    font-weight: 100;
}

.info-rest-orders-item div ul li {
    font-weight: 100;
}

.info-rest-orders-item div span ul {
    display: inline-block;
    vertical-align: top;
}

.info-rest-orders h2 {
    color: var(--light-black);
    margin-bottom: 30px;
}

.info-rest-orders {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    display: none;
}
#overlayProd  fieldset {
    margin: 0;
}

#overlayProd  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#overlayProd  .btn-cancel {
    border: none;
    margin-right: 10px;
    padding: 5px 7px;
}

#overlayProd  .btn-delete {
    background-color: var(--light-black) !important;
    border: none;
    padding: 5px 7px;
}

#overlayProd .btn-delete:hover {
    background-color: var(--pale-black) !important;
}

#overlayProd  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in 0s;
}
#overlayProd  .popup {
    height: 160px;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 10px 20px !important;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 14px rgb(0 0 0 / 40%);
    margin-top: 150px;
}

#overlayProd  .close-cat {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: relative;
    background: none;
    border: none;
}

#overlayProd  .popup p.zag {
    margin: 40px 0 10px;
    padding: 0 0 6px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
}

#overlayProd  .popup .close-cat {
    position: absolute;
    font-weight: bold;
}

#overlayProd  .popup .close-cat:hover {
    color: var(--red);
}







#overlayExit fieldset {
    margin: 0;
}

#overlayExit  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#overlayExit  .btn-cancel {
    border: none;
    margin-right: 10px;
    padding: 5px 7px;
}

#overlayExit  .btn-delete {
    background-color: var(--light-black) !important;
    border: none;
    padding: 5px 7px;
}

#overlayExit .btn-delete:hover {
    background-color: var(--pale-black) !important;
}

#overlayExit  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in 0s;
}
#overlayExit  .popup {
    height: 160px;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 10px 20px !important;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 14px rgb(0 0 0 / 40%);
    margin-top: 150px;
}

#overlayExit  .close-cat {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: relative;
    background: none;
    border: none;
}

#overlayExit  .popup p.zag {
    margin: 40px 0 10px;
    padding: 0 0 6px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
}

#overlayExit  .popup .close-cat {
    position: absolute;
    font-weight: bold;
}

#overlayExit  .popup .close-cat:hover {
    color: var(--red);
}