body {
    background: var(--light-black);
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.error h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: var(--red);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.error a {
    text-decoration: underline !important;
    color: var(--white);
}