.user-account {
    background-color: var(--light-black);
    padding-top: 180px;
}

.user-acc-block {
    display: flex;
    margin-top: 60px;
    padding-bottom: 100px;
    color: var(--white);
    justify-content: space-between;
}

.user-acc-sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.user-acc-sidebar-top {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.user-acc-sidebar-bottom {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 40px;
}

.user-acc-profile {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 60%;
}

.user-acc-my-sales {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 60%;
}

.user-acc-my-sales h4 {
    color: var(--white);
    margin-bottom: 15px;
}


.user-acc-my-orders {
    display: none;
}

.user-acc-my-sales {
    display: none;
}

.user-acc-my-exit {
    display: none;
}

.user-acc-my-orders {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 60%;
}

.user-acc-my-orders h4 {
    color: var(--white);
}

.user-acc-profile h4 {
    color: var(--white);
    margin-bottom: 15px;
}

.discounts h5 {
    color: var(--white);
    margin-bottom: 15px;
    font-weight: bold;
}

.user-acc-sidebar-top ul li {
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}

.discount-label {
    margin-right: 10px;
}

.discounts-info {
    margin-bottom: 40px;
}

#user-acc-form input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    color: var(--white);
    width: 80%;
}

#user-contact-submit {
    background: var(--red);
    width: 130px;
    height: 34px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: none;
}
.order-product-price {
    flex: 0 1 20%;
    text-align: right;
}
.order-total-cost {
    color: var(--white);
    font-weight: bold;
}

.order-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.order-resraurant-date {
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: bold;
    letter-spacing: 2px;
}

.order-resraurant-number {
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--gray);
}

.order-resraurant-name {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
}

.order-product {
    font-size: 18px;
    max-width: 350px;
    flex: 1 1 60%;
}

.order-product-count {
    color: var(--gray);
    flex: 0 1 10%;
    min-width: 35px;
}

.order-bottom-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.order-resraurant {
    display: flex;
    flex-direction: column;
}

.order-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.user-acc-avatar img {
    width: 200px;
    height: 200px;
    background-color: #000;
}

.user-acc-sidebar-top ul li:hover {
    color: var(--red);
}

#overlayUserAccExit fieldset {
    margin: 0;
}

#overlayUserAccExit .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#overlayUserAccExit .btn-cancel {
    border: none;
    margin-right: 10px;
    padding: 5px 7px;
}

#overlayUserAccExit .btn-delete {
    background-color: var(--light-black) !important;
    border: none;
    padding: 5px 7px;
}

#overlayUserAccExit .btn-delete:hover {
    background-color: var(--pale-black) !important;
}

#overlayUserAccExit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in 0s;
}

#overlayUserAccExit .popup {
    height: 160px;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 10px 20px !important;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 14px rgb(0 0 0 / 40%);
    margin-top: 150px;
}

#overlayUserAccExit .close-cat {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: relative;
    background: none;
    border: none;
}

#overlayUserAccExit .popup p.zag {
    margin: 40px 0 10px;
    padding: 0 0 6px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
}

#overlayUserAccExit .popup .close-cat {
    position: absolute;
    font-weight: bold;
}

#overlayUserAccExit .popup .close-cat:hover {
    color: var(--red);
}
.order-btn-block {
    display: flex;
    justify-content: flex-end;
}
#orderBtn {
    background: var(--red);
    width: 130px;
    height: 34px;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 20px;
}